<!-- <div appPreventCopy>
    <p>story-content works!</p>
    <h3>{{chapName}}</h3>
    <p [innerHTML]="chapContent"></p>
</div> -->

<!-- <p *ngFor="let chap of chapters">{{chap.chapname}}</p>
<p>{{content}}</p> -->
<input (click)="goTop($event)" type="image" alt="top" src="../../../../assets/back_to_top.png" width="40px" height="40px" style="position:fixed; bottom: 4rem; right: 2rem;"/>
<div style="background-color: #6E6E6E;" oncontextmenu="return false;">
<div class="container pt-3"   appPreventCopy >
    <div class="card" style="width: 70rem;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h4 style="color: crimson; padding-top: 5px;">{{story.storyname}}</h4> 
            <p style="color:blue">{{chapter.chapname}}</p>
            <p>- {{story.user.fullname}} -</p>
        </div>
        <div class="col-3"></div>
    </div>
    </div>
    <div class="col-12 d-flex justify-content-center m-3">
    <img class="border" src="http://localhost:3000/uploads/{{story.imgUrl}}" width="500rem" height="850rem" />
    </div>
    <div class="row">
        <div class="col-1"> </div>
        <div class="col-10 d-flex justify-content-center border comp">
            <p style="font-size: 24px;">{{content}}</p>
        </div>
       
    </div>
    <div class="col-1 mb-5 pt-3" style="background-color: #6E6E6E"> </div>
    <nav class="fixed-bottom" style="background: rgba(0, 0, 0, 0.7); height:3.5rem ;display: inline-block;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="mt-2 btn-primary" style="width: 150px;height:35px;" > &#171; Chương trước</button>
                <select class="mt-2 ml-2 mr-2" style="width: 200px;height:35px;" (change)="loadCustomer()" >
                    <option *ngFor="let chap of chapters" value="{{chap.id}}">
                        {{chap.chapname}}
                    </option>
                </select>
                <button class="mt-2 btn-primary" style="width: 150px;height:35px;">Chương sau &#187;</button>
            </div>
        </div>
    </nav>
   
</div>
</div>