<div class="form-group row">
    <label [for]="id" class="col-sm-2 col-form-label">{{label}}</label>
    <div class="col-sm-10">
      <input
      [readonly]="readonly"
      [type]="type"
      [ngClass]="{ 'is-invalid': formControl.touched && formControl.errors }"
      class="form-control col-lg-10"
      [formControl]="formControl"
      [(ngModel)]="ngModel"
      [maxlength]="maxlength"
      [placeholder]="placeholder"
      >
      <div *ngIf="formControl.touched && (requiredValidation ? formControl.errors?.required : false)" class="invalid-feedback">
        This field is required.
    </div>
    <div *ngIf="formControl.touched && (emailValidation ? formControl.errors?.email : false)" class="invalid-feedback">
        Invalid.
    </div>
    <div *ngIf="formControl.touched && customValidation" class="invalid-feedback">
        {{customValidationMessage}}
    </div>
    </div>
  </div>